<template>
  <div  class=" body text-center">
     <v-card>
        <v-card-title class="headline grey lighten-2">
          Add new user
        </v-card-title>

        <v-form>
        <v-container>
        <v-row>
            <v-col
            cols="12"
            md="4"
            >
            <v-text-field
                v-model="user.name"
                label="Username"
                required
            ></v-text-field>
            </v-col>

            <v-col
            cols="12"
            md="4"
            >
            <v-text-field
                v-model="user.age"
                label="User age"
                required
            ></v-text-field>
            </v-col>

            <v-col
            cols="12"
            md="4"
            >
            <v-text-field
                v-model="user.salary"
                label="User salary"
                required
            ></v-text-field>
            </v-col>
           
        </v-row>
        </v-container>
    </v-form>
     
        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            text
            @click="createUser"
          >
            Add
          </v-btn>
        </v-card-actions>
      </v-card>
  </div>
</template>


<script>
export default {
    data () {
      return {
        user: {},
        name: '',
        age: '',
        salary: '',
        email: '',
       
      }
    },
    computed:{
       
    },
    methods: {
      createUser(){
        this.$store.dispatch('createUser', this.user)
      }
    }
}
</script>

<style>
.body{
  padding: 50px;
}
</style>