<template>
  <div  class="text-center">
    <v-dialog  v-model="editcount">
      <v-card>
        <v-card-title class="headline grey lighten-2">
          Update user
        </v-card-title>

        <v-form v-model="valid">
        <v-container>
        <v-row>
            <v-col
            cols="12"
            md="4"
            >
            <v-text-field
                v-model="firstname"
                :rules="nameRules"
                :counter="20"
                label="First name"
                required
            ></v-text-field>
            </v-col>

            <v-col
            cols="12"
            md="4"
            >
            <v-text-field
                v-model="lastname"
                :rules="nameRules"
                :counter="20"
                label="Last name"
                required
            ></v-text-field>
            </v-col>

            <v-col
            cols="12"
            md="4"
            >
            <v-text-field
                v-model="email"
                :rules="emailRules"
                label="E-mail"
                required
            ></v-text-field>
            </v-col>
        </v-row>
        </v-container>
    </v-form>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            text
           @click="editdecrement"
          >
            Update
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>


<script>
export default {
    props:['item'],
    data () {
      return {
        valid: false,
        firstname: '',
        lastname: '',
        nameRules: [
            v => !!v || 'Name is required',
            v => v.length <= 10 || 'Name must be less than 10 characters',
        ],
        email: '',
        emailRules: [
            v => !!v || 'E-mail is required',
            v => /.+@.+/.test(v) || 'E-mail must be valid',
        ],
      }
    },
    computed:{
        doneUsers(){
            return this.$store.getters.doneUsers
        },
        editcount() {
            return this.$store.state.editcount
        },
        
    },
    methods: {
      editdecrement(){
        this.$store.commit("editdecrement");
      },
    }
}
</script>

<style>

</style>