<template>
<div class="body">
    <div class="card">
      <v-card-title class="card-header">User info</v-card-title>
      <v-card-text class="card-item">Name: <strong>{{user.data.data.employee_name}}</strong> </v-card-text>
      <v-card-text class="card-item">Age: <strong>{{user.data.data.employee_age}}</strong></v-card-text>
      <v-card-text class="card-item">Salary: <strong>{{user.data.data.employee_salary}}</strong>  </v-card-text>
      <v-card-text class="card-item">Profile image: <strong>{{user.data.data.profile_image}}</strong> </v-card-text>
  </div>
</div>
  
</template>

<script>
import axios from 'axios'
export default {
    data() {
        return {
            id: this.$route.params.id,
            user: {}
        }
    },
    methods: {
        loadUsers(){
            axios.get('http://dummy.restapiexample.com/api/v1/employee/'+this.id).then(data  => (this.user = data));
        }
    },
    created(){
       this.loadUsers();
    }
}
</script>

<style lang="scss">
.body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.card{
    box-shadow: 5px 10px 15px 1px;
    border: 1px solid lightgray;
    border-radius: 20px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    &-header{
        background-color: rgb(194, 194, 194);
        width: 100%;
        padding-left: 40%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    &-item{
        margin-bottom: 0;
        margin-top: 10px;
    }
}
</style>