<template>
  <v-container>
    <v-row class="text-center">
      
      <v-col cols="12" class="mb-4">
        <v-row>
          <h1>CRUD SYSTEM</h1>
          
        </v-row>
       <router-link to="/create"><v-btn  class="float-right" color="primary" >Create new user</v-btn></router-link>
      </v-col>
      <editModal  />
      <v-col
        class="mb-5"
        cols="12"
      >
        <div class="user-info">
          <v-simple-table>
            <template v-slot:default>
              <thead>
                <tr class="text-center">
                  <th class="text-center">Id</th>
                  <th class="text-center">Username</th>
                  <th class="text-center">Employee Salary</th>
                  <th class="text-center">Age</th>
                  <th class="text-center">Profile Image</th>
                  <th class="text-center">Edit</th>
                  <th class="text-center">Delete</th>
                </tr>
              </thead>
              <tbody>

                <tr v-for="item in doneUsers.data" :key="item.name">
                  
                    <td>{{ item.id }}</td>
                    <td ><router-link  v-bind:to="'/employee/'+item.id">{{ item.employee_name }}</router-link></td>
                    <td>{{ item.employee_salary }}</td>
                    <td>{{ item.employee_age }}</td>
                    <td>{{ item.profile_image }}</td>
                    <td><v-btn color="success" @click="editmodal"><v-icon left>mdi-pencil</v-icon> Edit</v-btn></td>
                    <td><v-btn color="error" @click="deleteUser(user)"><v-icon left>mdi-delete</v-icon> Delete</v-btn></td>
                  
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </div>
        
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import createModal from '../components/createModal'
import editModal from '../components/editModal'
import {mapActions} from 'vuex'
  export default {
    name: 'HelloWorld',
    components:{
      createModal,editModal
    },
    computed: {
      doneUsers(){
        return this.$store.getters.doneUsers
      },
      count() {
        return this.$store.state.count
      },
      editcount() {
        return this.$store.state.editcount
      },


    },
    data: () => ({
      user:{},
     
    }),
    methods: {
      ...mapActions([
        'GET_USERS_FROM_API'
      ]),

      increment(){
        this.$store.commit("increment");
      },
      editmodal() {
        this.$store.commit("editmodal");
      },
      deleteUser(user){
        this.$store.dispatch('deleteUser', user);
      }
    },
    mounted() {
      this.GET_USERS_FROM_API()
    }
  }
</script>


<style lang="scss">

</style>