<template>
  <v-container>
    <v-card height="">
      <v-navigation-drawer
        :expand-on-hover="expandOnHover"
        fixed=""
        right=2px
        :src="bg"
        dark
      >
        <v-list
          dense
          nav
          class="py-0"
        >
   
          <v-list-item
            v-for="item in items"
            :key="item.title"
            link
          >
            <v-list-item-icon>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>{{ item.title }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-navigation-drawer>
    </v-card>
  </v-container>
</template>

<script>
export default {
    data () {
      return {
        drawer: true,
        items: [
          { title: 'Users', icon: 'mdi-account' },
          { title: 'Create', icon: 'mdi-account-multiple-plus' },
          { title: '', icon: 'mdi-help-box' },
        ],
        color: 'primary',
        colors: [
          'primary',
          'blue',
          'success',
          'red',
          'teal',
        ],
        permanent: true,
        expandOnHover: true,
        background: true,
      }
    },
    computed: {
      bg () {
        return this.background ? 'https://cdn.vuetifyjs.com/images/backgrounds/bg-2.jpg' : undefined
      },
    },
}
</script>